div#library,div#library-path{
  margin-bottom: 15px;
}
div#library-path{
  display: flex;
}

td.library-item-name a, td.library-item-name span{
  cursor: pointer;
  text-decoration: none;
}

td.library-item-name a:hover, td.library-item-name span:hover{
  color: var(--white);
  background-color: var(--primary);
}

span.library-item-actions{
  display: inline-flex;
}