div#library,div#library-path{
  margin-bottom: 15px;
}

div.library-item span{
  cursor: pointer;
}
div.library-item .library-item-name:hover{
  color: var(--white);
  background-color: var(--primary);
}
div.library-item a{
  text-decoration: none;
}

