div#library,div#library-path{
  margin-bottom: 15px;
}

td.library-item-name a{
  cursor: pointer;
  text-decoration: none;
}

td.library-item-name a:hover{
  color: var(--white);
  background-color: var(--primary);
}

span.library-item-actions{
  display: inline-flex;
}