div#player{
  border-bottom: 1px solid var(--light-grey);
  display: flex;
  flex-flow: row;
  align-items: center;
  padding: 10px 20px;
}

div#player-thumbnail{
  display: none;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  height: 50px;
}

div#player-controls-buttons{
  display: flex;
}

div#player-thumbnail img{
  height: 100%;
}

div#player-controls, div#player-time{
  flex-shrink: 0;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

div#player-song-data{
  margin: 0 40px;
  flex-grow: 1;
}

div#player-song-artist-album{
  display: flex;
}

div#player-song-album{
  margin-left: 12px;
}

div#player-song-info{
  font-size: 10px;
  margin-top: 4px;
}

div#player-song-artist,div#player-song-artist a,
div#player-song-album,div#player-song-album a{
  text-decoration: none;
  color: grey;
  font-size: 11px;
  margin-top: 2px;
}

div#player-song-artist::before{
  content:'👤';
  margin-right: 3px;
}
div#player-song-album::before{
  content:'💿';
  margin-right: 3px;
}

div#player-song{
  cursor: col-resize;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  display: inline-block;
}

span#player-song-played{

}

span#player-song-unplayed{
  color: grey;
}

div#player-modes{
  flex-shrink: 0;
  margin: 0 40px;
}
div#player-modes > div{
  display: flex;
}

input#volume{
  width: 120px;
  margin: 0;
  accent-color: var(--primary);
}
