div#player{
  border-bottom: 1px solid var(--light-grey);
  display: flex;
  flex-flow: row;
  align-items: center;
  padding: 10px 20px;
}

div#player-controls, div#player-time{
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

div#player-song{
  margin: 0 40px;
  cursor: col-resize;
  max-width: 50%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

span#player-song-played{

}

span#player-song-unplayed{
  color: grey;
}

div#player-modes{
  margin: 0 40px;
}
div#player-modes > div{
  display: flex;
}

input#volume{
  width: 120px;
  margin: 0;
}
